BASE_URL=http://localhost:5000
TEST_ADMIN_EMAIL=admin@test.com
TEST_ADMIN_PASSWORD=Test@1234
TEST_EDITOR_EMAIL=editor@test.com
TEST_EDITOR_PASSWORD=Test@1234
TEST_SUPERADMIN_EMAIL=superadmin@test.com
TEST_SUPERADMIN_PASSWORD=Test@1234

DB_HOST=localhost
DB_PORT=5432
DB_NAME=admin_portal_test
DB_USER=postgres
DB_PASSWORD=password
